

.textarea{
    width: 80%;
    height: 8rem;
    display: flex;
    margin: 1rem;
    justify-content: center;
}
.texto{
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5%;
    background-color: antiquewhite;
}